SEATALK_APP_ID=
SEATALK_APP_SECRET=
SEATALK_SIGNING_SECRET=
ADMIN_TOKEN=

SPREADSHEET_ID=1_voFSQBXWh5G5IwBZnt19FE1ro9PpHGOGxtlJscnuzA
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/google-service-account.json
# GOOGLE_CREDENTIALS_JSON can be used instead of GOOGLE_APPLICATION_CREDENTIALS on hosts like Render.

ENABLE_CHANGE_SENDS=true
WATCH_TAB=BAU Backlogs Summary
WATCH_CELL=F8
WATCH_POLL_SECONDS=5
CHANGE_SETTLE_SECONDS=5

REPORT_TAB=BAU Backlogs Summary
REPORT_RANGE=C2:R62
GROUP_IDS_RANGE=BAU Backlogs Summary!A2:A

CARD_SPREADSHEET_ID=1Gtuvntb6wwK1OheNUKnh6SFKI49yNcS1jsCaSuwc5Y0
CARD_DESCRIPTION_RANGE='SOC 5 - Pending LH Tab New'!R17:R21
CARD_PENDING_CELL='SOC 5 - Pending LH Tab New'!Q12
CARD_AVERAGE_WT_CELL='SOC 5 - Pending LH Tab New'!AE14
CARD_REPORT_LINK=https://docs.google.com/spreadsheets/d/1Gtuvntb6wwK1OheNUKnh6SFKI49yNcS1jsCaSuwc5Y0/edit?gid=1248015344#gid=1248015344

PNG_DPI=300
PNG_MAX_WIDTH=2400

TIMEZONE=Asia/Manila
PORT=8080
